<a href="https://colab.research.google.com/github/virendrakumar93/Introduction-to-python/blob/main/Module_1_Getting_started_with_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem Statement:
You work in XYZ Corporation as a Data Analyst. Your company has told you to
work with the if-else condition.
Tasks To Be Performed:
1. Input the values of a and b as 10 and 20 respectively. Now check if a is
greater or b is greater using if condition. Think about all the edge cases,
and print the statements accordingly.

In [1]:
  a=10
  b=20
  if a>b:
    print("a is greater than b")
  else:
    print("b is greater than a")

b is greater than a

Problem Statement:
You work in XYZ Corporation as a Data Analyst. Your company has told you to
work with the if-else condition.
Tasks To Be Performed:
1. Take three user inputs and print the greatest number from those inputs
using if-else condition. Edge cases, if any, should also be handled

In [2]:
  a=int(input("enter the first number"))
  b=int(input("enter the second number"))
  c=int(input("enter the third number"))
  if a>b and a>c:
    print("a is the greatest number")
  elif b>a and b>c:
    print("b is the greatest number")
  else:
    print("c is the greatest number")

enter the first number4
enter the second number6
enter the third number9
c is the greatest number

Problem Statement:
You work in XYZ Corporation as a Data Analyst. Your company has told you to
work with the looping statements.
Tasks To Be Performed:
1. Print the numbers from 1 to 10 using while loop.

In [3]:
  i=1
  while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

Problem Statement:
You work in XYZ Corporation as a Data Analyst. Your company has told you to
work with the looping statements.
Tasks To Be Performed:
1. Create a list that has 10, 23, 4, 26, 4, 75, 24, 54 values and with the help
of while loop fetch the even numbers and print the numbers.

In [4]:
  list=[10,23,4,26,4,75,24,54]
  i=0
  while i<len(list):
    if list[i]%2==0:
      print(list[i])
    i+=1

10
4
26
4
24
54

Problem Statement:
You work in XYZ Corporation as a Data Analyst. Your company has told you to
work with the looping statements.
Tasks To Be Performed:
1. Create an array that has user defined inputs and with the help of for loop,
fetch all the prime numbers and print the numbers

In [6]:
  list=[]
  n=int(input("enter the number of elements"))
  for i in range(n):
    num=int(input("enter the number"))
    list.append(num)
    for j in list:
      if j>1:
        for i in range(2,j):
          if j%i==0:
            break
          else:
            print(j)
            break

enter the number of elements4
enter the number10
enter the number30
enter the number59
59
enter the number41
59
41

Problem Statement:
Consider yourself to be Sam who is a data scientist. He has been invited as a
guest lecturer at a college to take an introductory session on Python.
Tasks To Be Performed:
1. Create a list containing squares of numbers from 1 to 10 (HINT: use List
Comprehension).

In [7]:
  list=[i**2 for i in range(1,11)]
  print(list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

2. Write a function to check if the year number is a leap year.

In [9]:
  def is_leap_year(year):
    if year%4==0:
      if year%100==0:
        if year%400==0:
          return True
        else:
          return False

year = input("Enter a year: ")
if is_leap_year(int(year)):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2024
2024 is not a leap year.

3. Write a function to take an array and return another array that contains the
members of the first array that are even.

In [10]:
  def even_numbers(arr):
    even=[]
    for i in arr:
      if i%2==0:
        even.append(i)
    return even

arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_arr = even_numbers(arr)
print("Even numbers:", even_arr)

Even numbers: [2, 4, 6, 8, 10]

4. Write a function that takes 2 arrays and prints the members of the first
array that are present in the second array. (HINT: use Membership
Comprehension)

In [11]:
  def common_elements(arr1, arr2):
    common = [x for x in arr1 if x in arr2]
    return common

arr1 = [1, 2, 3, 4, 5]
arr2 = [3, 4, 5, 6, 7]
common_arr = common_elements(arr1, arr2)
print("Common elements:", common_arr)

Common elements: [3, 4, 5]

Problem Statement:
Consider yourself to be Sam who is a data scientist. He has been invited as a
guest lecturer at a college to take an introductory session on Python.
Tasks To Be Performed:
1. Create 1st tuple with values -> (10, 20, 30), 2nd tuple with values -> (40,
50, 60):
a. Concatenate the two tuples and store it in “t_combine”
b. Repeat the elements of “t_combine” 3 times
c. Access the 3rd element from “t_combine”
d. Access the first three elements from “t_combine”
e. Access the last three elements from “t_combine”

In [12]:
  t1=(10,20,30)
  t2=(40,50,60)
  t_combine=t1+t2
  print(t_combine)

  t_combine=t_combine*3
  print(t_combine)
  print(t_combine[2])
  print(t_combine[:3])
  print(t_combine[-3:])

(10, 20, 30, 40, 50, 60)
(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)
30
(10, 20, 30)
(40, 50, 60)

2. Create a list ‘my_list’ with these elements:
a. First element is a tuple with values 1, 2, 3
b. Second element is a tuple with values “a”, “b”, “c”
c. Third element is a tuple with values True, False

In [13]:
  my_list=[(1,2,3),("a","b","c"),(True,False)]
  print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False)]

Append a new tuple – (1, ‘a’, True) to ‘my_list’:
a. Append a new list – *“sparta”, 123+ to my_list

In [14]:
  my_list.append((1,"a",True))
  my_list.append(["sparta",123])
  print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), ['sparta', 123]]

4. Create a dictionary ‘fruit’ where:
a. The first key is ‘Fruit’ and the values are (“Apple”, “Banana”, “Mango”,
“Guava”)
b. The second key is ‘Cost’ and the values are (85, 54, 120, 70)
c. Extract all the keys from ‘fruit’
d. Extract all the values from ‘fruit’

In [15]:
  fruit={"Fruit":("Apple","Banana","Mango","Guava"),"Cost":(85,54,120,70)}
  print(fruit.keys())
  print(fruit.values())

dict_keys(['Fruit', 'Cost'])
dict_values([('Apple', 'Banana', 'Mango', 'Guava'), (85, 54, 120, 70)])